.chatbot-simple {
    position: fixed;
    bottom: 65px;
    right: 10px;
    z-index: 99;
}

.toggle-chatbot-button {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 100;

    .checked-icon {
        font-size: 55px;
    }

    .unChecked-icon {
        font-size: 40px;
        color: #e74c3c;
    }
}
