$mainColor: #0b9de0;
$mainFamily: "Mulish", sans-serif;

.header {
    margin: 0 0;
    padding: 0px 0;
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    background-image: url("https://res.cloudinary.com/phtuandev/image/upload/v1657607532/GoTravel/background_hahalolo_euqfgv.svg");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

    .header-logo {
        margin: 0 20px;
        img {
            padding-top: 10px;
            padding-bottom: 5px;
            width: 90px;
            height: 75px;
        }
    }

    .header-search {
        position: relative;
        display: flex;
        align-items: center;

        input {
            width: 600px;
            outline: none;
            border: 1px solid $mainColor;
            border-radius: 50px;
            font-family: monospace;
            font-size: 15.5px;
            font-weight: 600;
            color: #7a7a7a;
            padding: 11px 65px 11px 25px;
        }

        .label {
            position: absolute;
            background-color: #34b4ef;
            color: #fff;
            font-size: 27px;
            right: 0;
            padding: 4px 13px 9px 13px;
            border-radius: 50px;
            transition: ease-in-out 0.2s;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
                transition: ease-in-out 0.2s;
            }
        }
    }

    .header-user {
        width: 100px;
        margin: 0 20px;
        display: flex;
        justify-content: right;

        img {
            text-align: right;
            z-index: 2;
        }
    }
}
