$mainColor: #0b9de0;
$mainFamily: "Mulish", sans-serif;

.sidebar {
    position: fixed;
    top: 0px;
    left: 10px;
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    z-index: 10;
    border-radius: 10px;

    .sidebar-menu {
        padding: 2px 7px 2px 7px;
        background-color: #34b4ef;
        border-radius: 50px;

        li {
            list-style-type: none;
            position: relative;
            padding: 6px 8px;
            margin: 20px 0;
            border-radius: 50px;
            transition: ease-in-out 0.25s;

            .icon {
                color: #fff;
                font-size: 25px;
            }

            .hover-box {
                text-align: center;
                font-size: 16px;
                width: 120px;

                visibility: hidden;
                position: absolute;
                top: 3px;
                left: 0px;
                color: #0676aa;
                font-weight: 600;
                font-family: monospace;
                transition: ease-in-out 0.25s;
                background-color: #fff;
                box-shadow: 1px 1px 10px #dddddd;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                z-index: -1;
                padding: 5px 0px 5px 0px;
            }

            &:hover {
                background-color: #fff;
                cursor: pointer;
                .icon {
                    color: #0b9de0;
                }
                .hover-box {
                    border-left: 7px solid #34b4ef;
                    left: 47px;
                    visibility: visible;
                    color: #0676aa;
                }
            }
        }
    }
}
