$mainColor: #0b9de0;
$mainFamily: "Mulish", sans-serif;

.advertisement {
    text-align: center;
    padding: 0 30px 0 30px;

    .advertisement-list {
        border-radius: 5px;
        padding: 0 0;
        list-style-type: none;

        .advertisement-item {
            display: flex;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            background-color: #fff;
            border-radius: 5px;
            margin: 0 0 40px 0;

            .images-list {
                img {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    width: 610px;
                    height: 400px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .detailts {
                display: flex;
                flex-direction: column;
                padding: 0 15px;

                .title {
                    margin: 10px 0;
                    padding-left: 5px;
                    font-family: $mainFamily;
                    font-weight: 700;
                    font-size: 20px;
                    display: flex;
                    align-items: center;

                    &:hover {
                        cursor: pointer;
                        span {
                            transform: scale(1.02);
                            transition: ease-in-out 0.15s;
                            color: #007ab3;
                        }
                    }

                    span {
                        color: #0b9de0;
                    }
                    .icon {
                        color: #ff3300;
                        font-size: 25px;
                        margin-right: 10px;
                    }
                }
                .content {
                    height: 275px;
                    max-height: 275px;
                    padding: 10px 5px 10px 10px;
                    text-align: justify;
                    font-family: $mainFamily;
                    font-weight: 600;
                    font-size: 16px;
                    margin-bottom: 20px;

                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-line-clamp: 11;
                    -webkit-box-orient: vertical;
                }
                .interact {
                    border-top: 1px solid #c5c5c5;
                    padding: 1px 0 0 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .interact-heart {
                        display: flex;
                        align-items: center;

                        .checkbox-heart {
                            .favorite-border {
                                font-size: 28px;
                            }
                            .favorite {
                                font-size: 28px;
                                color: #ff0077;
                            }
                        }

                        span {
                            font-family: $mainFamily;
                            font-weight: 700;
                            font-size: 17px;
                            color: #5a5a5a;
                        }
                    }

                    .interact-orther {
                        .bookmark-border {
                            font-size: 32px;
                        }
                        .bookmark {
                            font-size: 32px;
                            color: #0bc06e;
                        }
                    }
                }
            }
        }
    }
}

.dialog {
    .dialog-title {
        font-family: $mainFamily;
        font-weight: 700;
        font-size: 19px;
    }
    .dialog-content {
        padding: 0px 20px;
        margin-bottom: 10px;

        table {
            padding-top: 20px;
            td {
                padding: 0px 0;
                margin: 0 0;
                font-family: $mainFamily;
            }

            .title-td {
                padding: 0px 0 10px 0;
                font-weight: 700;
                color: #0b9de0;
                padding-right: 30px;
            }

            .content-td {
                padding: 0px 0 10px 0;
                font-weight: 600;
            }

            .expired-td {
                font-weight: 700;
                color: #ef0404;
            }
        }
    }

    .dialog-actions {
        button {
            padding: 4px 0px;
            width: 90px;
            font-family: $mainFamily;
            font-size: 13px;
            font-weight: 700;
        }
    }
}

.view-advertisement {
    margin: 70px 250px 0 250px;

    .infor-advertisement {
        border-bottom: 1px solid #e3e3e3;
        padding: 0 0 0 0px 0;
        list-style-type: none;
        display: flex;
        justify-content: space-between;

        li {
            font-family: $mainFamily;
            display: flex;
            align-items: center;

            span {
                font-size: 20px;
                font-weight: 700;
                color: #5a5a5a;
            }

            .checkbox-heart {
                .favorite-border {
                    font-size: 28px;
                }

                .favorite {
                    font-size: 28px;
                    color: #ff0077;
                }
            }

            .checkbox-save {
                .bookmark-border {
                    font-size: 32px;
                }
                .bookmark {
                    font-size: 32px;
                    color: #0bc06e;
                }
            }
        }
    }

    .title-advetisement {
        font-size: $mainFamily;
        font-size: 25px;
        font-weight: 600;
        color: #ff6f00;
        margin: 15px 0;
        display: flex;
        align-items: center;

        .icon {
            font-size: 30px;
            margin-right: 10px;
        }
    }

    .content-advertisement {
        text-align: justify;
        width: 100%;
        font-size: 17px;
        font-family: $mainFamily;
        color: black;

        .images-advertisement {
            text-align: center;

            img {
                margin: 15px 0;
                border-radius: 5px;
                width: 800px;
                height: 400px;
            }
        }

        .paragraph {
            .image {
                text-align: center;

                img {
                    margin: 15px 0;
                    border-radius: 5px;
                    width: 800px;
                    height: 400px;
                }
            }
        }
    }
}
